<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">indique e ganhe!</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>


    <div fxLayout="row wrap">
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary">
            <div class="card-title-text">
              <div class="">Ganhe indicando seus amigos</div>
              <div class="text-sm text-muted-white">Seu códgio:ZXSZXX</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <h1>
              <strong>R$ 
              <span>54.00</span>
              </strong>
            </h1>
            <div class="timeline-body timeline-body-content">
              <p>Pessoas que criarem conta GreenPay usando seu código de indicação ganharão 10,00 na sua primeira transação na plataforma. E o melhor é que assim que seu convidado ganhar, você também ganha 10,00 pela sua indicação.</p>
            </div>
            <div class="timeline-body timeline-body-actions">
              <a href="https://api.whatsapp.com/send?text=https://encontreaki-509b5.firebaseapp.com/sessions/signup2/{{customerId}}" target="_blank" class="mr-1 text-muted">Whatsapp</a>
              <a href="#" class="text-muted">Facebook</a>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="timeline-body timeline-body-actions">
          <a href="#" class="text-muted">Leia aqui o regulamento.</a>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>