<div class="scrollable" [perfectScrollbar]>
  <section class="home-section section-intro text-center">
    <div class="container">
        <span class="egret">GreenPay</span>
        <img src="assets/images/logos/logo.png" alt="">
        <h1>E-commerce de promoções e cashback</h1>
        <p>Um mundo de <strong>vantagens</strong> com apenas um click. </p>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="mb-48">
          <span fxFlex="8px"></span>
          <button mat-raised-button mat-lg-button (click)="goToMainDash(mainVersion)" class="pink pink-500-fg">COMPRAR AGORA</button>
          <span fxFlex="8px"></span>
          <button mat-raised-button mat-lg-button (click)="goToSouParceiro(mainVersion)" class="pink pink-500-fg">SOU PARCEIRO</button>
        </div>
    </div>
  </section>
</div>