<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        O que é uma conta digital?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Conta digital é o tipo de conta que permite que qualquer pessoa mexa com o próprio dinheiro direto pela internet, seja por aplicativo ou pelo site. Desde a abertura da conta até cada operação no cotidiano são feitas online.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        O que é cryptomoeda? 
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Criptomoedas são moedas virtuais utilizadas para transações comerciais online, assim como o real e o dólar. A diferença é que elas não existem na vida real! Elas são criadas por sistemas computacionais descentralizados, independentes de qualquer tipo de Banco Central, e possuem custo zero de transação.    </p>
  </mat-expansion-panel>
</mat-accordion>
