<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">Sobre</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row wrap">
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="99" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary">
            <div class="card-title-text">
              <div class="">Atualização de sistema</div>
              <div class="text-sm text-muted-white">Versão 1.0</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <h1>
              <strong>
              <span *ngIf="!isAnnualSelected">GREENPAY</span>
              </strong>
            </h1>
            <mat-list dense class="mb-1">
              <mat-list-item>Termos de uso</mat-list-item>
              <mat-list-item>Politica de privacidade</mat-list-item>
              <mat-list-item class="text-muted">Unlimited User</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>