    <mat-card class="plan-pricing text-center p-0">
      <mat-card-title class="light-gray">
        <div class="card-title-text">
          <div class="" *ngIf="salesOrder.status==='PAID'">PEDIDO APROVADO {{salesOrder.id}}</div>
          <div class="text-sm text-muted">{{salesOrder.customerName}}</div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content *ngIf="salesOrder.status==='PAID'">
        <h1><strong>{{salesOrder.totalAmount | currency:'BRL' }}</strong></h1>
        <mat-list dense *ngFor="let p of salesOrder.payments" >
          <mat-list-item>Transação ID: {{ p.id }} - {{p.paymentMethod}} - {{p.amount | currency:'BRL'}}</mat-list-item>
        </mat-list>
        <mat-list dense class="mb-1">
          <mat-list-item class="text-muted" *ngIf="salesOrder.cryptoRef">Transaction Crypto - {{salesOrder.cryptoRef}}</mat-list-item>
        </mat-list>
        <button mat-raised-button color="accent" routerLink="/shop"><mat-icon>chevron_left</mat-icon> Back to Shop</button>
      </mat-card-content>
    </mat-card>



